<html>
    <head>
        <title>
            Flex layout
        </title>   
        <link rel="stylesheet" href="style6.css">
    </head>
    <body>
        <!-- header start from here -->
        <header>
            <div class="header_container"></div>
        </header>
        <!-- header END here -->
            
        <!-- Main content start from here -->
         <main>
            <!-- slider_notice_container section Start from here -->
           <section>
                <div class="slider_notice_container">
                    <div class="slider_container">
                        <img class="slider_img" src="image/night.jpg" alt="night photo">
                    </div>
                    <div class="notice_container"></div>
                </div>
           </section>
            <!-- slider_notice_container section END  here -->


        <!-- course section Start from here -->
           <section>
                <div class="course_container">
                    <div class="course_item"></div>
                    <div class="course_item"></div>
                    <div class="course_item"></div>
                    <div class="course_item"></div>
                    <div class="course_item"></div>
                    <div class="course_item"></div>
                </div>
            </section>
        <!-- course section END  here -->


                <!-- Video and Description section Start from here -->
                <section>
                    <div class="video_description_container">
                        <div class="video_container">
                            <div class="video_item"></div>
                            <div class="video_item"></div>
                            <div class="video_item"></div>
                        </div>
                        <div class="description_container"></div>
                        
                    </div>
                </section>
            <!-- Video and Description section END  here -->
         </main>
        <!-- Main content END  here -->

        <!-- Footer start from here -->
        <footer>
            <div class="footer_container"></div>
        </footer>
        <!-- Footer END  here -->

    </body>
</html>
